name: Deploy Angular to Vercel

on:
  push:
    branches: 
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install Node
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install dependencies
        run: npm install

      - name: Build Angular
        run: npm run build

      - name: Upload dist
        uses: actions/upload-artifact@v3
        with:
          name: dist
          path: dist/restaurante/browser
